 .blogsOuter {
     background: #EAE4D8;
     justify-content: space-around;
 }

 .blog1 {
     border-radius: 10px;
     background: #154A72;
     display: flex;
     flex-direction: column;
 }

 .blog1 p {
     color: rgba(234, 228, 216, 0.80);
     font-family: Poppins;
     font-size: 14px;
     font-style: normal;
     font-weight: 400;
     line-height: 150.5%;
     /* 21.07px */
 }

 .blog1 h4 {
     color: #F86400;
     font-size: 16px;
     font-style: normal;
     font-weight: 700;
     line-height: 150.5%;
     /* 24.08px */
     text-transform: uppercase;
 }

 .blog1 button {
     align-self: center;
     background-color: transparent;
     color: #F86400;
     border-radius: 10px;
     border: 1px solid #F86400;
     width: 159px;
     height: 50px;
     flex-shrink: 0;
 }